# Application Config
PORT=3000
NODE_ENV=production
JWT_SECRET_KEY=
JWT_EXPIRES_IN=1d
CLIENT_URL=

# File Upload Config
FILES_PATH=./uploads
FILE_MAX_SIZE=10485760

# Database Configuration (Docker/Local)
DB_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Prisma Database URL
# Replace placeholders with your actual credentials
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME?schema=public"

# Docker Container Names
APP_CONTAINER_NAME=parkinga-api
DB_CONTAINER_NAME=parkinga-db
